@mixin laptop {
    @media screen and (max-width : 1600px) {
        @content;
    }
}
@mixin pad{
  @media screen and (max-width : 1200px) {
      @content;
  }
}
@mixin chromebook {
  @media screen and (max-width: 900px) {
    @content;
  }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
}

@mixin mobile {
  @media screen and (max-width : 600px) {
      @content;
  }
}
@mixin tecno{
  @media screen and (max-width : 400px){
    @content
  }
}


.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:  url('../components//Images/gradient-7258997_1920.png');
  background-repeat: no-repeat();

  

  .formWrapper {
    background-color: white ;
    padding: 40px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    @include mobile{
      padding:40px 20px;
    }

    .logo {
      color: green;
      font-weight: 1000;
      font-size: 35px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .title {
      color: green;
      font-size: 17px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: oblique;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      
      .loading{
        color: green;
        font-size: 14px;
        margin-top: 0;
        font-style: oblique;
        
        z-index: 999;
        
      }
      .invalid--login{
       
        z-index: 999;
        color: red;
        font-size: 14px;
        margin-top: 0;
        font-style: oblique;
      }
      input {
        padding: 20px;
        border: none;
        width: 300px;
        outline-color: green;
        margin-top: 10px;
        border-bottom: 1px solid #a7bcff;
        background-color: white  transparentize($color: #000000, $amount: 0);

        &::placeholder {
          color: rgb(175, 175, 175);
          font-style: italic;
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    
    }

    .error--message{
      
      z-index: 999;
      color: red;

    }
    p {
      color: green;
      font-size: 13px;
      margin-top: 0;
      z-index: 999;
    }
  }
}

.header--container{
    display: flex;
    justify-content: center;
    background-color: gray;
    width: 100%;
    
    @include mobile{
      margin-left: 5px;
    }
      

    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    #root {
      display: flex;
      flex-direction: column;
      height: 100%;
    }



    .header--content{
        display: flex;
        padding: 15px;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: white;
        width: 100%;
        box-shadow: 2px 0px 2px 2px rgb(241, 235, 235);
        
       
      .logo--title{
        width: 100px;
        height: 70px;

        @include tablet{
          width: 70px;
          
        }

      }

      

       .search--form{
            display: flex;
            padding-left: 3px;
            padding-top:10px;
          .search--bar{
           width: 800px;
            height: 40px;
            outline: none;
            padding-left: 6px;            
            border: none;
            border-radius: 20px;
            margin-left: 15px;
            background-color: #eef1f5;

            &:hover{
              
              border: none;
            }
            
                 @include pad{
                  width: 450px;
                 }
            @include tablet{
              width: 350px;
              margin-top: 6px;
              
            }
            @include mobile{
              width: 250px;
            }
        }
        
       }
       .justify--icon{
        margin-left: 10px;
        padding-bottom: 10px;
        margin-top: 15px;

        display: none;

        @include tablet{
          display: block;
        }
        @include mobile{
          display: block;
        }


       }

     
      

       
       .explorer{
        margin-left: 10px;
        margin-top: 10px;
        background-color: none;
        width: 100px;
        height: 40px;
        border-radius: 4px;

        @include tablet{
          display: none;
        }
        .explore--button{
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 4px;
          

           &:hover{
            background-color: #ccc;
  
          }
        }
       
        &:hover{
          background-color: #ccc;

        }
       }

       .explorer--menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: #051c33;
        padding: 20px;
        padding-top: 0;
        margin-left:300px;
        margin-top: 80px;
        border-radius:5px;
        padding-left: 0;

        .list--div{
          display: flex;
          flex-direction: row;

          .list1{
            color: #ccc;
            margin: 0;
            left: 0;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 20px;
            
            ul{
              list-style-type: none;
              padding: 0;
              margin: 0;
  
              label{
                font-weight: bold;
                color: white;
                margin-bottom: 10px;
              }
  
              li{
                padding: 8px;
                border-radius: 6px;
                cursor: pointer;
  
                &:hover{
                  background-color: #525050;
              }
                
              }
            }
          }
  
          .list2{
            color: #ccc;
            margin: 0;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 20px;
            ul{
              list-style-type: none;
              padding: 0;
              margin: 0;
  
            
  
              label{
                font-weight: bold;
                color: white;
                margin-bottom: 10px;
              }
              
              li{
                padding: 8px;
                border-radius: 6px;
                cursor: pointer;
  
                &:hover{
                  background-color: #525050;
              }
                
              }
            }
          }
  
          .list3{
            color: #ccc;
            margin: 0;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 20px;
  
            ul{
              list-style-type: none;
              padding: 0;
              margin: 0;
  
              label{
                font-weight: bold;
                color: white;
                margin-bottom: 10px;
              }
  
              li{
                padding: 8px;
                border-radius: 6px;
                cursor: pointer;
  
                &:hover{
                  background-color: #525050;
              }
                
              }
            }
        }
        
        
        }

        .list4{
          color: #ccc;
          margin: 0;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 20px;
          ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            
            label{
              font-weight: bold;
              color: white;
              margin-bottom: 10px;
            }
            
            li{
              padding: 8px;
              border-radius: 6px;
              cursor: pointer;

              &:hover{
                background-color: #525050;
            }
              
            }
          }
        }
        .social--media{
          display: flex;
          flex-direction: row;
          div{
            padding-left: 500px;
          }
        }
        
       }



         //STYLES FOT THER  THE HOMEPAGE COLLAPSIBLE BUTTON WITH HOMEPAGE ITEMS


         .slide-container {
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          background-color:#051c33;
          border-radius:5px;
          height: calc(800px );
          z-index: 999;
          animation: slide-down 1s forwards;
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          margin:0;
          

            .title--bar{
              display: flex;
              flex-direction: row;
              padding-bottom: 13px;
              border-bottom: 1px solid #ccc;
            

              .logo{
                width: 150px;
                height: 50px;
              }

                .collapse--mininavbar{
                  position: absolute;
                  right: 0;
                  margin-right: 20px;
                  
                  border: 1px solid green;
                  border-radius: 30%;
                  box-shadow: 0px 0px 2px 2px green;

                  &:hover{
                    background-color: green;
                    border:1px solid green;
                  }
  
                
              }

             
            }
       
        
          @keyframes slide-down {
            0% {
              top: -100%;
            }
            100% {
              top: 1%;
            }
          }

          @include tecno{
            width: 340px;
        }

        
        }


       
       .notification{
          display: flex;
          justify-content: center;
          width: 50px;
          height: 50px;
          padding-top: 17px;
          margin-left: 30px;

          @include tablet {
            display: none;
          }

          &:hover{
            background-color: #d7dbdf;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
         
       }

       .profile{
          width: 50px;
          height: 50px;
          background-color: yellow;
          border-radius: 50%;
          margin-left: 15px;
          margin-top: 5px;
        .profile--photo{
          width: 50px;
          height: 50px;      
        }
        @include tablet{
          display: none;
        }

       }
       .upload {
        margin-left: 30px;
        margin-top: 6px;
        .upload--button{
          width: 100px;
          height: 40px;
          border-radius: 15px;
          border: 0.5px;
          text-align: center;
          background-color: rgb(88, 139, 88);
          color: white;
        }
        @include tablet{
          display: none;
        }
       }
   
    .heading--2{
        color: #051c33;
        font-size: 20px;
        display: flex;
        .heading--2-span{
            width: 200px;
            height: 30px;
            border: 3px solid #d7dbdf;
            border-radius: 4px;    
            padding-left: 8px;       
        }
    }
    }
}
.mapped--container{
  flex: 1;
  display: flex;
    display: flex;
    justify-content: center;   
    margin-top:10px;
    width: 100%;

   @include tablet{
    margin-left: 0;
   } 

.mapped--container > div {
  width: 100%;
}

  .mini-header-container{
   display: flex;
    padding-left: 15px;  
    margin-top: 120px;
    .mini-header-left{
      display: flex;
      
      @include tablet{
        display: none;
      }
      @include pad {

      }
      

      .explore{
        text-align: center;
          width: 140px;
          height: 40px;
          margin-left: 2px;
          border-radius: 10px;
          border: none;
          font-size: 15px;
          font-weight: 500;
          color: gray;
          &:hover{
            background-color: #d7dbdf;
            border-radius: 10px;
                    
          }
          
      }

    }

    .custom-dropdown {
      position: relative;
      display: inline-block;
      
      width: 190px;
      border-radius: 4px;
      
      
    }

    .dropdown-toggle {
      cursor: pointer;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;

      &:hover{
        background-color:#ccc;
        border: none;
      }
    }

    .dropdown-toggle.open {
      background-color: #f0f0f0;
      font-weight: bold;
    }

    .dropdown-options {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      width: 300px;
      z-index: 1;
    }
    
  .option {
    cursor: pointer;
    padding: 4px;
    color: #1a0670;
    font-weight: bold;
  }


      
  .custom-option {
    font-weight: bold;
    color:green;
  }

  .custom-input {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .custom-input input {
    flex: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .custom-input button {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }


    .filter--container{    
      
      display: none;

      button{
        border: none;
        width: 200px;
          height: 40px;
          background-color: white;
        &:hover{
          background-color: #d7dbdf;
          border-radius: 10px;
                  
        }
        .filter{          
          border-radius: 10px;
          border: none;
         
          color: gray;
         
        }
      }
      

      @include tablet(){
        display: block;
        
      }
      
      
    }
    .mini-header-right{
      display: flex;
      padding-left: 120px;

      @include tablet(){
        padding-left: 10px;
      }
      @include pad{
        padding-left: 20px;       
      }

      .switch{
        padding-top: 10px;
        
        @include tablet{
          display: none;
        }
        @include pad{
          display: none;
        }

       
        .safesearch--on, .safesearch--off{
          display: none;
        }

        &:hover{
          

          .safesearch--on{
            position: absolute;
            z-index: 1;
            padding: 3px;
            background-color: black;
            color: white;
            display: none;
            display: block;
            border-radius: 10px;
            font-size: 14px;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 12px;
          }
          .safesearch--off{
            position: absolute;
            z-index: 1;
            padding: 3px;
            padding-right: 5px;
            padding-left: 5px;
            background-color: black;
            color: white;
            display: block;
            border-radius: 10px;
            font-size: 12px;
          }
        }

       
      }
      .switch--mode{
        text-align: center;
        padding-top: 10px;
        color:#5c5b5b;

        @include tablet{
          display: none;
        }
        @include pad{
          display: none;
        }
      }

      .question{
        display: flex;
        justify-content: center;
        background-color: #d7dbdf;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        margin-left: 10px;
        margin-top: 7px;

        @include tablet{
          display: none;
        }
        @include pad{
          display: none;
        }
      }
      .most--relevant{
          
       
          @include tablet{
             margin-left: 150px;
          }
          @include mobile{
            margin-left: 10px;
          }

        
      }

    }
   
  }

  .second-header-container{
    padding-top: 20px;
   padding-left: 15px;
    .second-header-content{

      h1{
        font-size: 30px;
        font-weight: bold;
        

        @include tablet{
          font-size: 20px;
          margin-left: 18px;
        }

        @include pad{
          margin-left: 20px;
          font-size: 20px;
        }
      }

     
    }

    .buttons{
      display: flex;
        padding-top: 30px;

        @include tablet(){
          display: none;
        }
        @include pad{
          margin-left: 20px;
        }
        @include mobile{
          margin-left: 0px;
        }
        h1{
          font-size: 17px;
          color: black;

          
        }

      .btn{
        width: fit-content;
        height: fit-content;
      
        border: 1px solid rgb(235, 231, 231);
        &:hover{
          border: 1px solid rgb(19, 18, 18);
        }
      }
    }
  
  }

    .mapped--div{
        //display: grid;
        //grid-template-columns: auto auto auto auto auto;   
       // gap: 10px;
        
       position: relative;
        z-index: 0;
        
         @include laptop{
          column-count: 4; 
          column-gap: 20px;
          padding: 20px;

         }

          @include mobile{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 5px;
            
          }
         
          
          @include pad{
            column-count: 4; 
            column-gap: 10px;     
          }
        
       
        
    }
  }


.gallery--div {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  
    break-inside: avoid; 
    margin-bottom: 20px; 
    background-color:   #f5f5f5;
    

 

    @include mobile{
      border-radius: 2px;
    }
  }

 .gallery--div .user--profile{
  opacity: 1;

  .user--name{
    position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin-left: 50px;
      margin-bottom: 10px;
      font-size: 14px;
      color: white;
      transition: opacity 2s ease-in-out;

      &.hovered .user--name{
        opacity:1;
      }
  }
 }
  
.gallery--div .user--image{
  opacity: 1;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;   
    margin-left: 10px;
    margin-bottom: 7px;
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;


    transition: opacity 2s ease-in-out;

    &.hovered .tag{
      opacity:1;
    }

}

 .gallery--div .picture--tag{
  opacity: 1;
  

  .tag{
    position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      margin-right: 50px;
      margin-bottom: 40px;
      font-size: 12px;
      color: white;
      transition: opacity 2s ease-in-out;

      &.hovered .tag{
        opacity:1;
      }
  }
 }
  .gallery--div .downloadicon--div {
    opacity: 1;
    
  
    .download--icon {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: opacity 2s ease-in-out;
  
      &.hovered .download--icon {
        opacity: 1;
      }
    }
  }
  
  .gallery--div .hearticon--div {
    opacity: 1;

   
     .like--hover {

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin-left: 15px;
      margin-top: 50px;    
      background-color: black;   
      color: white;
      border-radius: 5px;
      font-size: 12px;
      padding: 3px;
      transition: opacity 2s ease-in-out;

      span{
        color: green;
        font-size: 13px;
      }

    }

    
      .heart--icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin-left: 10px;
        margin-top: 10px;       
        transition: opacity 2s ease-in-out;

      
        &.hovered .heart--icon {
          opacity: 1;
        }

      }
     
     
    }
    
    .gallery--div .favourites-icon-div {
      opacity: 1;
      
      .bookmark--hover {

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin-left: 60px;
        margin-top: 50px;    
        background-color: black;   
        color: white;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px;
        transition: opacity 2s ease-in-out;

        @include mobile{
          display: none;
        }
  
      }
     
        .favourites--icon {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          margin-left: 60px;
          margin-top: 10px;
          transition: opacity 2s ease-in-out;
      
          &.hovered .favourites--icon {
            opacity: 1;
          }
        }
      }
     
      .searched--image {
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease-in-out;
      }
      
  
      .gallery--div .searched--image {
        transition: transform 3s ease-in, opacity 1s ease-in-out;
        transform-origin: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0; /* Start with 0 opacity */
      }
      
  
  .gallery--div:hover img {
    transform: scale(1.3);

    @include mobile{
      transform: none;
    }
  }
  
  .gallery--div img.fade-in {
    opacity: 1; /* Set opacity to 1 to show the image */
  }

//collections styles

.collections--container{

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01); 
  z-index: 999;

  @include tablet{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.01); 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
  }


  .collections--content{
    
    height: 400px;
    background-color: white;
    padding-left: 20px;
    border-radius: 6px;
    padding-top: 20px;
    overflow:scroll;
    width: 585px;

    @include tablet{
        width: 400px;
        padding-left: 10px;
        padding-right: 2px;
        margin-right: 0;
    }

    h1{
      font-size: 24px;
      font-style: bold;
      color: green;
    }
    p{
      color:rgb(126, 123, 123);
    }

    .create--collection{
      width: 540px;

      @include tablet{
        width: 370px;
      }

      display: flex;
      border-radius: 5px;
      justify-content: center;
      background-color: #ece9e9;
      padding: 20px;
      border: 1px dotted  #ece9e9 ;
     

      &:hover{
        background-color: #eefaf0;
        border-style: 2px dotted #ece9e9 ;
      }

      button{
        border: none;
        background-color:#ece9e9;


        &:hover{
          background-color: #eefaf0;
          
        }
      }
    }

    .search--collection{
      margin-top: 20px;
      width: 540px;
    
      outline-color: green;
      border: 1px solid #ccc;
      border-color: #ccc;
      border-radius: 4px;

      @include tablet{
        width: 370px;
      }
      
    }     

      .collections{
        width: 540px;
        height: 100px;
        background-color: rgb(198, 241, 198);
        display: flex;
        margin-top: 10px;
        border-radius: 4px ;

        @include tablet{
          width: 370px;
        }

        h1{
          margin-top: 30px;
          padding-left: 20px;
          font-size: 17px;
          width: 300px;

          span{
            color:rgb(29, 177, 61);
          }
        }

        .add-to-collection{
          display: flex;
          margin-left: 70px;
          margin-top: 30px;
          border: 1px solid #ccc;
          width: auto;
          height: 40px;
          border-radius: 4px;
          background-color: white;
          
          @include tablet{
            margin-left: 0px;
            margin-right: 3px;
            width: 140px;
          }

          p{
            padding-top: 8px;
          }
          
        }
      }
    
  }

}
  //next page button

  .navigation-buttons {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top:1px solid  #ccc ;
    color: #ccc;
    .next--page{

      position: relative;
      z-index: 1;
      width: 100px;
      height: 30px;
      font-size: small;
      border: none;
      
    }
  

    /* Add your styling for the Next page button */
  }

  //footer
  .footer--container{
    position: relative;
    z-index: 1;
    
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #5c5b5b;


    @include tablet{
      flex-direction: column;
    }
    .footer-content-left{
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        @include tablet{
          padding-left:0px;
        }
      .snapshot--logo{
        width: 150px;
        margin-left: 30px;

      }
      .ftl--heading{
        padding-top: 20px;
        font-size: 14px;
        color: #616161;
        margin-left: 20px;
      }
      .icons--div{
        padding-top: 20px;
          display: flex;
          flex-direction: row;
          gap: 20px;
          margin-left: 20px;
      }
    }
    .footer-content-right{
      display: flex;
      flex-direction: row;
      margin-left: 260px;
      
      @include tablet{
        margin-left: 0;
        padding-top: 20px;
        
      }
      .discover{
        

        ul{

          .footer--label{
            font-weight: bold;
            font-size: 17px;
          }

          li{
            list-style-type: none;
            color: #616161;
            
            font-size: 15px;
            width:120px;;
            height: 40px;

            
            &:hover{
              cursor: pointer;
              border-bottom: 1px solid #616161;
            }
          }
        }
      }
      .community{

        ul{
          .footer--label{
            font-weight: bold;
            font-size: 17px;
          }

          li{
            list-style-type: none;
            color: #616161;
            width:90px;;
            height: 30px;;
            font-size: 15px;

            
            &:hover{
              cursor: pointer;
              border-bottom: 1px solid #616161;
            }
          }
        }
      }
      .about{

        .footer--label{
          font-weight: bold;
          font-size: 17px;
        }

        ul{
          li{
            list-style-type: none;
           
            color: #616161;
            width:120px;
            height: 30px;
            font-size: 15px;

            &:hover{
              cursor: pointer;
              border-bottom: 1px solid #616161;
            }
          }
        }
      }
    }

    .policy{
      position: absolute;
      bottom: 0;
      margin-left: 400px;
      color: #616161;
      padding: 5px;
      font-size: 13px;

      @include tablet{
       display: none;
      }

  }
  
}



//STYLING FOR THE HOME PAGE

.navbar--container{
  position: relative;
  padding-top: 0.1px;
  width: 100%;
  left:0;
  right:0;
  height: 440px;
  background-image: url('../components/Images/homePageBackground.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; /* Adjust the blend mode as needed */
  background-color: #646262;

          .navbar{
            position: fixed;
            z-index: 999;
            width: 100%;
              background-color: #272626 transparentize($color: #000000, $amount: 0);
              transition: background-color 0.3s ease; // Add transition for smooth effect

        &.scroll-up {
            background-color: green;
       }

        &.scroll-down {
           background-color: #272626 transparentize($color: #000000, $amount: 0);
          }
            .website--name{
              margin-left: 10px;
              .snapshot--name{
                color: white;
                font-size: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                
                
              }
            }

            
            

            .navbar-top-left-items{
              
              display: flex;
              flex-direction: row;
              margin-left: 0;

          
              

              .explorer{
                margin-left: 0px;
                margin-right: 30px;
                margin-top: 10px;
                background-color: none;
                width: 100px;
                height: 40px;
                border-radius: 4px;


                @include tablet{
                  display: none;
                }
                

                .explore--button{
                  width: 100px;
                  height: 40px;
                  border: none;
                  border-radius: 4px;
                  
        
                   &:hover{
                    background-color: #ccc;
          
                  }
                }
               
                &:hover{
                  background-color: #ccc;
        
                }
               }
        
               .explorerhomepage--menu{
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 1;
                background-color: #051c33;
                padding: 20px;
                padding-top: 0;
                left: 0;
                margin-left: 300px;
                margin-top: 70px;
                border-radius:5px;
                padding-left: 0;
        
                .list--div{
                  display: flex;
                  flex-direction: row;
        
                  .list1{
                    color: #ccc;
                    margin: 0;
                    left: 0;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    padding: 20px;
                    padding-top: 5px;
                    
                    ul{
                      list-style-type: none;
                      padding: 0;
                      margin: 0;
          
                      label{
                        font-weight: bold;
                        color: white;
                        margin-bottom: 10px;
                      }
          
                      li{
                        padding: 8px;
                        border-radius: 6px;
                        cursor: pointer;
          
                        &:hover{
                          background-color: #525050;
                      }
                        
                      }
                    }
                  }
          
                  .list2{
                    color: #ccc;
                    margin: 0;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    padding: 20px;
                    ul{
                      list-style-type: none;
                      padding: 0;
                      margin: 0;
          
                    
          
                      label{
                        font-weight: bold;
                        color: white;
                        margin-bottom: 10px;
                      }
                      
                      li{
                        padding: 8px;
                        border-radius: 6px;
                        cursor: pointer;
          
                        &:hover{
                          background-color: #525050;
                      }
                        
                      }
                    }
                  }
          
                  .list3{
                    color: #ccc;
                    margin: 0;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    padding: 20px;
          
                    ul{
                      list-style-type: none;
                      padding: 0;
                      margin: 0;
          
                      label{
                        font-weight: bold;
                        color: white;
                        margin-bottom: 10px;
                      }
          
                      li{
                        padding: 8px;
                        border-radius: 6px;
                        cursor: pointer;
          
                        &:hover{
                          background-color: #525050;
                      }
                        
                      }
                    }
                }
                
                
                }
        
                .list4{
                  color: #ccc;
                  margin: 0;
                  border-right: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  padding: 20px;
                  ul{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    
                    label{
                      font-weight: bold;
                      color: white;
                      margin-bottom: 10px;
                    }
                    
                    li{
                      padding: 8px;
                      border-radius: 6px;
                      cursor: pointer;
        
                      &:hover{
                        background-color: #525050;
                    }
                      
                    }
                  }
                }
                .social--media{
                  display: flex;
                  flex-direction: row;
                  cursor: pointer;
                  div{
                    padding-left: 500px;
                    padding-top: 5px;
                  }
                }
                
               }
  



              @include mobile{

                margin-left: 0px;
              }

             

              .notification{
                display: flex;
                justify-content: center;
                width: 50px;
                height: 50px;
                padding-top:17px;
                margin-top: 5px;
                margin-right: 30px;

                @include tablet{
                  margin-left: 10px;
                  
                }
                &:hover{
                  background-color: #d7dbdf;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                  object-fit: cover;
                }
               
             }

             .profile{
              width: fit-content;
              height: 50px;
              display: flex;  
              flex-direction: row;   
              gap: 20px;         
              margin-right: 10px;
              margin-top: 10px;
              .my--profile{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: yellow;
                margin-right: 10px;
              }
              .signout{
                background-color:white;
                border: none;
                border-radius: 2px;
                width: 80px;
                height: 30px;
                margin-top: 5px;               
                font-size: 15px;
                font-weight: 600;
                margin-right: 30px;

                @include tablet {
                  margin-right: 5px;
                }

                &:hover{
                  background-color: #ccc;
                }
              }
          }

              .upload {
                margin-right: 30px;
                margin-top: 10px;
                .upload--button{
                  width: 100px;
                  height: 40px;
                  border-radius: 15px;
                  border: 0.5px;
                  text-align: center;
                  background-color: rgb(88, 139, 88);
                  color: white;

                  @include mobile{
                    display: none;
                  }
                }
                
               }
            }
          }

            

            .navbar-center-items{

              display: flex;
              flex-direction: column;
              margin-top: 150px;
              margin-left: 250px;

              @include tablet {
                margin-left:20px;
              }
              @include mobile {
                margin-left:20px;
              }

              .nav-h1{
                color: white;
                font-weight: bold;
                letter-spacing:normal;
              }
              .nav-p1{
                color: white;
              }

              .search--form{
                display: flex;
                padding-left: 3px;
                padding-top:10px;

                @include tablet{
                  padding-left: 0px;
               }

                .search--container{
                  position: relative;
                    
                    width: 80%;
                     height: 40px;
                     background-color:white;
                     border-radius: 20px;
                     padding-left: 10px;

                     @include tablet{
                        padding-left: 15px;
                        width: auto;
                        margin-left: 20px;
                     }
                     @include pad{
                      width:auto;
                     }
                     @include mobile{
                      width:auto;
                     }


                  .search--bar{

                    width:500px;
                     height: 40px;
                     outline: none;
                     padding-left: 6px;            
                     border: none;
                     border-radius: 20px;
                     margin-left: 15px;
                     background-color: white;
                     
                     @include tablet {
                     width: 300px;
                     height: auto;
                     padding-top: 7px;
                     
                    }
                    @include mobile {
                      width: 300px;
                      height: auto;
                      padding-top: 7px;
                     }
                  
                    
                     &:hover{
                       
                       border: none;
                     }
                                      
                 }
                 .all-images{
                  position: absolute;
                  right: 0;
                  margin-left: 30px;

                  @include tablet {
                    display: none;
                  }
                 }
                }
            
            
           }

            }
            
  
}

.mini--header {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  position: relative;
  left: 0;
  right: 0;
  .mini-header-wrap {
    display: flex;
    flex-direction: column;

    .all-options {
      display: flex;
      gap: 20px;
      
      margin-left: 40px;

      .butn1,
      .butn2,
      .butn3,
      .butn4,
      .butn5,
      .butn6,
      .butn7 {
        color: #646262;
        font-size: 15px;
        font-weight: 500;
        width: auto;
        height: 40px;
        border-radius: 6px;
        background-color: white;
        border: none;

       
        &:hover {
          background-color: #ccc;
        }
      }
      @include tablet{
        .butn7, .butn6, .butn5{
          display: none;
        }
        margin-left: 10px;
      }
      }
    }

    .suggestions {
      display: flex;
      gap: 20px;
      margin-top: 20px;


      .suggestion--button1,
      .suggestion--button2,
      .suggestion--button3,
      .suggestion--button4,
      .suggestion--button5,
      .suggestion--button6,
      .suggestion--button7,
      .suggestion--button8,
      .suggestion--button9,
      .suggestion--button10,
      .suggestion--button11,
      .suggestion--button12 ,
      .suggestion--button13{
        font-size: 15px;
        width: auto;
        height: 30px;
        border-radius: 6px;
        border: 1px solid #ccc;
        background-color: white;

        &:hover {
          border: 1px solid black;
        }
      }

      @include tablet {
        
        .suggestion--button6,
        .suggestion--button8, 
        .suggestion--button9,
        .suggestion--button10,
        .suggestion--button11,
        .suggestion--button12,
        .suggestion--button13,
        .suggestion--button7{
          display: none;
                    
        }
       gap: 10px;
        margin-left: 30px;
      }
    }
  }


    
  .fade-enter {
    opacity: 0;
    background-color:transparent;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 2s;
    background-color:transparent;
    
  }
  
  .fade-exit {
    opacity: 1;
    background-color:transparent;

  }

  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 2s;
    background-color:transparent;
  }

  //STYLES FOR THE CUSTOM SELECT INPUTS
/*1.MEDIA INPUT STYLES*/
.custom-dropdown {
  position: relative;
 width: 100%;
 margin: 0;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;

  &:hover{
    background-color: #ccc;
  }

 
}

.dropdown-toggle.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

 
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  padding-left:20px;
  border-radius: 5px;
  width: 100%;
  background-color:#051c33;
  color: white;
  font-style:bold;
  border-top: none;
  display: flex;
  flex-direction: column;
  z-index: 999;
  
  background-color:#051c33;
}

.option {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #817e7e;
  }

  &.selected {
    background-color: #ccc;
  }
}

  
  
